@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: "MachineStd";
  src: url("../fonts/MachineStd.otf");
  font-weight: 700;
  font-style: normal;
}

.layout-header-container {
  max-height: 90px;
  transition: max-height 0.6s ease, opacity 0.6s ease;
  overflow: hidden;
}

body:has(#fullscreen-loader) .layout-header-container {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

/* First: global override */
*,
*::before,
*::after {
  cursor: url("/images/cursor.png") 0 0, auto !important;
}

/* Then: put text fields back to normal */
input,
textarea {
  cursor: text !important;
}
